$column: 100px;
$container: 300px;

.table {
    &__header {
        display: flex;
        border-bottom: 2px solid #000000; 
        width: $container;

        &-surname {
            width: $column;
            margin-right: 5px;
        }

        &-name {
            width: $column;
            margin-right: 5px;
        }

        &-patronymic {
            width: $column;
        }
    }

    &__personal-data {
        display: flex; 
        border-bottom: 2px solid #000000; 
        width: $container;

        &-surname {
            width: $column;
            margin-right: 5px;
        } 

        &-name {
            width: $column;
            margin-right: 5px; 
        }

        &-patronymic {
            width: $column;
        }

    }
}